<div class="card">
  <h3 class="card-header"><%= @post.title %></h3>
  <div class="card-body">
    <p class="card-text"><%= @post.content %></p>

    <div class="text-right">
      <div class="btn-group" role="group">
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-secondary" %>
        <%= link_to "Remove", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
      </div>
    </div>
    
  </div>
</div>

<div class="commentGroup">
  <% if @post.comments.count > 0 %>
      <div class="commentList">
        <h3>Comments</h3>
        <ul class="list-group">
          <%= render @post.comments %>
        </ul>
      </div>
  <% end %>

  <div class="newCommentSection">
    <h3>New comment</h3>
    <%= render 'comments/form' %>
  </div>
</div>

<%= link_to "Back", root_path, class: "btn btn-secondary back"  %>