<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<%= link_to "Edit post", edit_post_path(@post) %>
<%= link_to "Delete post", @post, method: :delete, data: { confirm: "Are you sure?" } %>
<br>

<% if @post.comments.count > 0 %>
  <span>Comments</span>
  <%= render @post.comments %>
<% end %>

<div>
  <span>New comment</span>
  <%= render 'comments/form' %>
</div.>